{#
    Primary navigation menu
#}
<nav>
    <ul>
        {%- for nav in collections.nav -%}
            {% set isCurrent = (nav.url == page.url) %}
            {% set isParent = nav.url != '/' and nav.url in page.url -%}
            <li
                class="{% if isCurrent or isParent %} is-here{% endif %}"
                {% if isCurrent %}aria-current="page"{% endif %}>
                <a href="{{ nav.url | url }}">
                    {{- nav.data.navTitle or nav.data.title -}}
                </a>
            </li>
        {%- endfor %}
    </ul>
</nav>
