{#
    Social media links
#}

{% import "_macros/icons.njk" as icons %}

{% set social = [
    {
        name: "Twitter",
        url: metadata.twitter,
        icon: "twitter",
        title: "Follow us on Twitter"
    },
    {
        name: "Facebook",
        url: metadata.facebook,
        icon: "facebook",
        title: "Like us on Facebook"
    },
    {
        name: "Instagram",
        url: metadata.instagram,
        icon: "instagram",
        title: "Follow us on Instagram"
    }
] %}

{% for service in social %}
    <a href="{{ service.url }}" target="_blank" rel="noopener noreferrer nofollow" title="{{ service.title }}" class="c-social">
        <span class="u-visually-hidden">{{ service.name }}</span>
        {{ icons.icon(service.icon) }}
    </a>
{% endfor %}
