{#
    Social media links
#}

{% set social = [
    {
        name: "Twitter",
        url: "https://twitter.com/frontendnorth",
        icon: "twitter",
        title: "Follow us on Twitter"
    },
    {
        name: "Facebook",
        url: "https://www.facebook.com/Front-End-North-502356493635369",
        icon: "facebook",
        title: "Like us on Facebook"
    },
    {
        name: "Instagram",
        url: "https://www.instagram.com/frontendnorth/",
        icon: "instagram",
        title: "Follow us on Instagram"
    }
] %}

{% for service in social %}
    <a href="{{ service.url }}" target="_blank" rel="noopener noreferrer nofollow" title="{{ service.title }}" class="c-social">
        <span class="u-visually-hidden">{{ service.name }}</span>
        <svg aria-hidden="true" role="presentation" class="c-icon">
            <use href="#{{ service.icon }}"></use>
        </svg>
    </a>
{% endfor %}
