{#
    Hide tracking if not in production mode
    https://www.11ty.io/docs/data-js/#example%3A-exposing-environment-variables
#}
{% if project.environment == "production" %}
    <script defer data-domain="frontendnorth.com" src="https://plausible.io/js/script.tagged-events.js"></script>
{% else %}
    <!-- Website is probably in dev mode, tracking disabled -->
{% endif %}
