/**
 *	Content
 *
 *	The most generic scope.
 *
 **/

.s-content {

    a:not(.c-button) {
        @include link-rules();

        &.c-inverted {
            @include link-rules-background($color-text-white);
        }
    }

    // on a dark background
    .c-inverted a:not(.c-button) {
        @include link-rules-background($color-text-white);
    }

    .c-button {
        margin-top: 1.5em;
        margin-bottom: 1.5em;
    }

    // Context
    .o-hero-header__copy > & > *:last-child,
    .o-wrapper__primary > & > *:last-child {
        margin-bottom: 0;
    }

    iframe {
        margin-top: 3em;
        margin-bottom: 3em;
    }

        p + iframe {
            margin-top: 1.5em;
        }

}
