/**
 *	Content
 *
 *	The most generic scope.
 *
 **/

.s-content {

    a:not(.c-button) {
        @include link-rules();

        // on a dark background
        .c-inverted &,
        &.c-inverted {
            @include link-rules-background($color-text-white);
        }
    }

    .c-button {
        margin-top: 1.5em;
        margin-bottom: 1.5em;
    }

}
