{#
    Primary navigation menu
#}

{% import "_macros/icons.njk" as icons %}

<div class="o-navigation">
    <div class="o-navigation__wrapper">

        {# Homepage has its own logo, THANK YOU VERY MUCH x_X #}
        {# TODO: Should this display text on first tab? #a11y #}
        {% if page.url != '/' %}
            <a href="/" class="o-navigation__logo" title="Return to homepage">
                <span class="u-visually-hidden">Home</span>
            </a>
        {%- endif %}

        <div class="o-navigation__overlay js-popover-target" data-target="navigation">
            <nav class="o-navigation__menu" aria-label="Main">

                <ul class="o-menu o-menu--horizontal@md c-navigation-primary">
                    {%- for nav in collections.nav -%}
                        {% set isCurrent = (nav.url == page.url) %}
                        {% set isParent = nav.url != '/' and nav.url in page.url -%}
                        <li class="c-navigation-primary__item
                            {{ 'c-navigation-primary__item--home' if loop.index0 == 0 }}
                            {% if isCurrent or isParent %}is-here{% endif %}">
                            <a
                                {% if isCurrent %}aria-current="page"{% endif %}
                                href="{{ nav.url | url }}"
                                class="o-menu__action c-navigation-primary__action">
                                {{- nav.data.navTitle or nav.data.title -}}
                            </a>
                        </li>
                    {%- endfor %}
                </ul>

            </nav>
            <div class="o-navigation__social c-inverted">

                {% include "social.njk" %}

            </div>

        </div>
    </div>
    <div class="o-navigation__trigger">

       <button class="c-button c-button--trigger c-button--icon js-popover-trigger" data-trigger="navigation">
            Menu
            {{ icons.icon('menu') }}
        </button>

	</div>
</div>
