{#
    Primary navigation menu
#}

{% import "_macros/icons.njk" as icons %}

<div class="o-navigation">
    <nav class="o-navigation__menu js-popover-target" data-target="navigation">

        <ul class="o-menu o-menu--horizontal@md c-navigation-primary c-navigation-primary">
            {%- for nav in collections.nav -%}
                {% set isCurrent = (nav.url == page.url) %}
                {% set isParent = nav.url != '/' and nav.url in page.url -%}
                <li class="c-navigation-primary__item {{ 'c-navigation-primary__item--home' if loop.index0 == 0 }}">
                    <a
                        {% if isCurrent %}aria-current="page"{% endif %}
                        href="{{ nav.url | url }}"
                        class="o-menu__action c-navigation-primary__action {% if isCurrent or isParent %}is-here{% endif %}">
                        {{- nav.data.navTitle or nav.data.title -}}
                    </a>
                </li>
            {%- endfor %}
        </ul>

    </nav>
    <div class="o-navigation__trigger">

       <button class="c-button c-button--trigger c-button--icon js-popover-trigger" data-trigger="navigation">
            Menu
            {{ icons.icon('menu') }}
            {{ icons.icon('cross') }}
        </button>

	</div>
</div>
