.fieldset {
    padding: 0;
    border: 0;
}

.label {
    display: block;
    margin-bottom: 0.2rem;
}

.input {
    display: block;
    width: 100%;
    padding: 8px 0;
    text-indent: 2%;
    border: 1px solid #ABB0B2;
    -webkit-border-radius: 0.2rem;
    -moz-border-radius: 0.2rem;
    border-radius: 0.2rem;

    &[type=checkbox] {
        -webkit-appearance: checkbox;
    }
    &[type=radio] {
        -webkit-appearance: radio;
    }
    &:focus {
        border-color: #333;
    }
}

.button {
    clear: both;
    background-color: $primary;
    border: 0 none;
    border-radius: 4px;
    transition: background-color 0.1s ease-in-out 0s;
    color: #FFFFFF;
    cursor: pointer;
    display: inline-block;
    font-size: 1rem;
    font-weight: normal;
    height: 2.5em;
    line-height: 2.5em;
    margin: 1rem 0;
    padding: 0 2em;
    text-align: center;
    text-decoration: none;
    vertical-align: top;
    white-space: nowrap;
    width: auto;

    &:hover {
        background-color: darken($primary, 5%);
    }
}

/* MailChimp Form Embed Code - Classic - 12/17/2015 v10.7 */
// we can clear some of this out
.form {
    &__header {
        text-align: center;
    }

    &__group {
        margin: 1.5rem 0;
    }

    // mailchimp style overrides
    #mce-responses {
        overflow: hidden;
    }
    .response {
        text-align: center;
        display: none;
    }

    #mc-embedded-subscribe {
        display: block;
        margin: 1rem auto;
    }

    div.mce_inline_error {
        margin: 0.5em 0 !important;
        padding: 0 !important;
        background: none !important;
        color: $text-error !important;
        font-size: 0.8rem;
        text-align: right;
    }
    input.mce_inline_error {
        border: 2px solid $text-error !important;
    }
}
