.logo {
    display: flex;
    flex-direction: column;
    justify-content: center;

    height: auto;
    font-family: $font-brand;
    color: $text-dark;
    text-align: center;

    text-transform: uppercase;
    line-height: 1;

    img {
        margin: 15px auto;
        display: block;
        width: 25%;
    }

    @media (min-width: $large) {
        width: 12em;
        padding: 0 0.5em;
        border-right: 0.06em solid $black;
    }

    &__title {
        padding-bottom: 1.5rem;

        &--primary {
            font-family: $font-fes;
            font-size: 2rem;
        }

        &--secondary {
            font-size: 4rem;

            @media (min-width: $small) {
                font-size: 2rem;

            }
        }
    }
}
