// nice colour names: use in this file only
$white: #ffffff;
$cyan: #286D63;


// theme colours
$brand-primary: $cyan;
$brand-primary--light: lighten(desaturate(#286d63, 7.09), 30.78);
$page-bg: $white;

// text colours
$text-primary: $brand-primary;
$text-light: $white;
$text-error: #dc2c0a;

// fonts
$font-heading: 'Atlan-Black', 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
$font-body: "Helvetica Neue", "Helvetica", "Arial", sans-serif;
