{#
    Icons
#}

{# Icon #}
{# TODO: default doesn't work properly when `null` is passed to it #}
{% macro icon(type = 'link', size = null) %}
    <svg aria-hidden="true" role="presentation" class="c-icon {{ 'c-icon--' ~ size if size }}">
        <use xlink:href="#{{ type }}"></use>
    </svg>
{% endmacro %}

{# Iconified icon #}
{% macro iconItem(url, service = 'link') %}
    <a href="{% if service == 'twitter' -%}
            https://twitter.com/
        {%- elif service == 'github' -%}
            https://github.com/
        {%- endif %}{{ url }}" class="c-iconified">
        <span class="c-iconified__icon">
            {{ icon(service) }}
        </span>{# close dat gaaaaap ヘ(◕。◕ヘ)
        #}{{ '@' if service == 'twitter' }}{{ url | replace("https://", "") | replace("http://", "") }}
    </a>
{% endmacro %}
