/**
 *	Links
 *
 *	Fancy links. Most likely to be used scoped instead of generically
 *	so as not to collide with other styles.
 *
 **/

// Can be used to overwrite default link-rules (see: `.s-content .c-inverted`)
@mixin link-rules-background($color: $color-brand-secondary) {
	background-image:
		linear-gradient(to top,
			$color 0,
			$color 2px,
			rgba($color, .15) 2px,
			rgba($color, .15) 100%),
		linear-gradient(to top,
			rgba($color, .15) 100%,
			rgba($color, .15) 100%);
}

// Include as mixin, for consumption elsewhere.
@mixin link-rules() {

	@include link-rules-background;

	background-repeat: no-repeat;
	background-size: 100%,
		100% 0;
	background-position: bottom,
		bottom;
	color: inherit;
	text-decoration: none;
	transition: background .15s linear;

	&:focus,
	&:hover {
		background-size: 100%,
			100% 100%;
	}

	@media (prefers-reduced-motion: reduce) {
		transition-duration: 0s;
	}
}

.c-link {

	@include link-rules();

}
