/**
 *	Subheadings
 *	Taglines and meta-type content that follows headings.
 *
 *	Lots of similarities to `__meta` in `c-teaser`'s
 *	Consider the default to be inverted (i.e. white on dark)
 *
 **/

.c-subheading {

	color: $color-text-reduced;
	display: block;
	font-size: map-get($type-scale-major-second, xl);
	font-weight: 600;
	line-height: 1.2;
	margin-bottom: 0;
	padding-top: $space-default;

	@include mq(lg) {
		font-size: map-get($type-scale, l);
	}

	.c-inverted & {
		color: rgba($color-text-white, .8);
	}

	// Change margin, depending upon what it's following
	// TODO: I should flip-reverse my typography margins in the future
	// These aren't magic numbers, but it's a bit contrived… init?
	.alpha + &,
	h1 + & {
		margin-top: calc(
			#{((-1.5 * 1.1) * map-get($type-scale-major-second, xxxl))}
			+ #{$space-s});
		margin-bottom: 1.5em; // inherits margin of preceeding heading

		@include mq(lg) {
			margin-top: calc(
				#{((-1.5 * 1.1) * map-get($type-scale, xxl))}
				+ #{$space-default});
		}
	}

	.beta + &,
	h2 + & {
		// take line-height into account
		margin-top: calc(
			#{(-1.15 * map-get($type-scale-major-second, xxl))}
			+ #{$space-s});
		margin-bottom: 1em;

		@include mq(lg) {
			margin-top: calc(
				#{(-1.15 * map-get($type-scale, xl))}
				+ #{$space-default});
		}
	}

}
