/**
 *	Social media links
 *
 **/

.c-social {

    font-size: 0;
    text-decoration: none;
    margin-left: $space-l;

    & > * {
        display: inline-block;
    }

    &:first-child {
        margin-left: 0;
    }

}
