/**
 *	Links (+ buttons)
 *
 *	Note: Styles are v. generic so as not to impact other things link elements.
 *	`.c-link` should help us with more fancy stuff.
 *
 **/

a {
	color: inherit;
	text-decoration: underline;
	text-decoration-color: $color-brand-secondary;

	&:focus,
	&:hover {
		text-decoration-color: lighten($color-brand-secondary, 20);

		// Is an external link, so probably a logo
		&[href^="http"] {
			> img {
				filter: opacity(80%);
			}
		}

		> img {
			// If this is an image
			&[src*=".jpg"] {
				cursor: zoom-in;
				filter: none;
			}
		}
	}

	// Replace with focus-visible when support is reasonable. Explanation:
	// https://css-tricks.com/almanac/selectors/f/focus-visible/
	&:focus {
		// a11y AF, keyboard fans
		outline: $color-brand-secondary dashed 2px;
		outline-offset: $space-xs;
	}

}

button {
	&:focus {
		// as above ^
		outline: $color-brand-secondary dashed 2px;
		outline-offset: $space-xs;
	}

	&:active {
		outline: none;
	}
}
