/**
 *	Page
 *
 *	html and body
 *
 **/

html {

	font-size: map-get($font-size-base, default);
	height: 100%; // fixes flexbox sticky footer on Edge (tested: v17)
	line-height: map-get($line-height-base, default);
	scroll-behavior: smooth;

	@include mq(md) { // TODO: down to sm?
		line-height: map-get($line-height-base, md);
	}

	@include mq(lg) {
		font-size: map-get($font-size-base, lg);
	}

}

body {

	background: $color-bg-white;
	color: $color-text-base;
	font-family: $font-body;
	-moz-osx-font-smoothing: grayscale;
	-webkit-font-smoothing: antialiased;
	margin: 0;
	padding: 0;
	-webkit-text-size-adjust: 100%; // fix for iOS

	&.has-popover {
		overflow: hidden;
	}

}
