{% extends "_layouts/base.njk" %}

{% block main %}

    <article>

        <div class="o-spacer c-raised--hero-gradient c-inverted">

            <header class="o-hero-header__copy o-wrapper">

                <h1 class="c-inverted">{{ title }}</h1>
                <time class="c-subheading" datetime="{{ page.date|htmlDateString }}">{{ page.date | readableDate }}</time>

                {% if intro %}
                    <div class="s-content c-lede">
                        <p>{{ intro | safe }}</p>
                    </div>
                {% endif %}

            </header>

        </div>

        <div class="o-wrapper">

            <div class="s-content o-spacer">

                {{ content | safe }}

            </div>

            {% if collections.blog | length > 1 %}
                <aside class="o-spacer">

                    <h2 class="gamma">More from the blog</h2>

                    {% for post in collections.blog | reverse | limit(3) %}
                        {# This feels like a hack #}
                        {% if page.url != post.url %}
                            {% include "_teaser/blog.njk" %}
                        {% endif %}
                    {% endfor %}

                    <a href="/blog/" class="c-button">View all updates</a>

                </aside>
            {% endif %}

        </div> {# /.o-wrapper #}

    </article>

{% endblock %}
