{% extends "_layouts/base.njk" %}

{% block main %}

    <article>

        <a href="/blog/" class="beta">Blog</a>

        <h1>{{ title }}</h1>
        <time class="c-teaser__meta" datetime="{{ page.date|htmlDateString }}">{{ page.date | readableDate }}</time>

        <div class="s-content">

            {{ content | safe }}

        </div>

    </article>

{% endblock %}
