{% extends "_layouts/base.njk" %}

{% block main %}

    <article>

        <div class="o-spacer c-raised--hero-gradient c-inverted">

            <header class="o-hero-header__copy o-wrapper">

                <h1 class="c-inverted">{{ title }}</h1>

            </header>

            {% if image %}
                <img
                    src="{{ site.image_cdn }}{{ image }}?thumbnail=350"
                    alt="Photograph of {{ title }}">
            {% endif %}

            <section class="o-wrapper">

                {#
                    Assign variables so that they are available outisde of the following loop.
                    #twigLyfe x
                #}
                {% set talk_title = null %}
                {% set talk_subtitle = null %}
                {% set talk_content = null %}

                {# Find talk attributes if available #}
                {% for talk in collections.schedule %}
                    {# TODO: This feels like a hack #}
                    {% if page.fileSlug == talk.data.speaker %}

                        {% set talk_title = talk.data.title %}
                        {% set talk_subtitle = talk.data.subtitle %}
                        {% set talk_content = talk.templateContent %}

                    {% endif %}
                {% endfor %}

                {% if talk_title %}

                    <h2>{{ talk_title }}</h2>
                    {{ ('<span>' ~ talk_subtitle ~ '</span>' if talk_subtitle) | safe }}

                    {% if talk_content %}

                        <div class="s-content">
                            {{ talk_content | safe }}
                        </div>

                    {% else %}

                        <p>Talk content TBA</p>

                    {% endif %}

                {% else %}

                    <p>Talk title TBA.</p>

                {% endif %}

            </section>

        </div>

        <section class="o-wrapper">

            <h2>About {{ title }}</h2>

            <div class="s-content">

                {{ content | safe }}

                {% if content | length == 0 %}
                    <p>To be announced</p>
                {% endif %}

            </div>

            {% if external %}
                <aside>

                    <ul>
                        {% for item in external %}
                            <li>
                                {# My kingdom for a switch… #}
                                {% if item.twitter %}
                                    <a href="https://twitter.com/{{ item.twitter }}">@{{ item.twitter }}</a>
                                {% elseif item.github %}
                                    <a href="https://github.com/{{ item.github }}">Github</a>
                                {% elseif item.website %}
                                    <a href="{{ item.website }}">{{ item.website | replace("https://", "") | replace("http://", "") }}</a>
                                {% endif %}
                            </li>
                        {% endfor %}
                    </ul>

                </aside>
            {% endif %}

            {% if previous %}

                <aside>

                    <h2>Previous talks</h2>

                    <ul>
                        {% for talk in previous %}
                            <li class="c-teaser">
                                <h3 class="c-teaser__title">
                                    {{ ('<a href="' ~ talk.url ~ '" rel="external">' if talk.url) | safe }}
                                        {{ talk.name }}
                                    {{ ('</a>' if talk.url) | safe }}
                                </h3>
                                {{ ('<span class="c-teaser__meta">' ~ talk.where ~ '</span>' if talk.where) | safe }}
                            </li>
                        {% endfor %}
                    </ul>

                </aside>

            {% endif %}

        </section>

        <nav class="o-wrapper o-spacer">

            {#
                Next / Prev in collection links
                Modifed from:
                https://github.com/11ty/eleventy/issues/211#issuecomment-419634985
                TODO: Bring into meta
            #}
            {% macro getSiblingLinks(collection, direction) %}

                {% set currentIndex = 0 %}
                {% set countOfItems = collections[collection].length %}

                {% if direction == 'previous' %}
                    {% set advance = -1 %}
                {% else %}
                    {% set advance = 1 %}
                {% endif %}

                {% for item in collections[collection] %}
                    {% if item.url == page.url %}
                        {% set currentIndex = loop.index0 %}
                    {% endif %}
                {% endfor %}

                {% set siblingIndex = currentIndex + advance  %}
                {% set sibling = collections[collection][siblingIndex] %}

                {% if sibling %}
                    <span class="c-teaser">
                        <span class="c-teaser__title">
                            <a
                                href="{{ sibling.url | url }}"
                                rel="{{ "prev" if direction == 'previous' else "next" }}"
                                title="View the {{ "previous" if direction == 'previous' else "next" }} speaker: {{ sibling.data.title }}">
                                {{ sibling.data.title }}
                            </a>
                        </span>
                    </span>
                {% endif %}

            {% endmacro %}

            {{ getSiblingLinks('speakers', 'previous') }}

            <span class="c-teaser">
                <span class="c-teaser__title">
                    <a href="/speakers">View all speakers</a>
                </span>
            </span>

            {{ getSiblingLinks('speakers') }}

        </nav>

    </article>

{% endblock %}
