{% extends "_layouts/base.njk" %}

{% block main %}

    <article>

        <div class="o-spacer c-raised--hero-gradient c-inverted">

            <div class="o-wrapper o-wrapper--has-sidebar">

                <header class="o-wrapper__primary o-hero-header__copy">

                    <h1 class="c-inverted">{{ title }}</h1>
                    {% if role %}
                        <span class="c-subheading">
                            {{ role }}
                        </span>
                    {% endif %}

                </header>

                {% if image %}
                    <div class="o-hero-header__image">
                        <img
                            src="{{ site.image_cdn }}{{ image }}?thumbnail=768"
                            alt="Photograph of {{ title }}">
                    </div>
                {% endif %}

            </div>

            {#
                Assign variables so that they are available outisde of the following loop.
                #twigLyfe x
            #}
            {% set talk_title = null %}
            {% set talk_subtitle = null %}
            {% set talk_content = null %}

            {# Find talk attributes if available #}
            {% for talk in collections.schedule %}
                {#
                    TODO: This feels like a hack
                    "Custom filter"?
                #}
                {% if page.fileSlug == talk.data.speaker %}

                    {% set talk_title = talk.data.title %}
                    {% set talk_subtitle = talk.data.subtitle %}
                    {% set talk_content = talk.templateContent %}

                {% endif %}
            {% endfor %}

            <div class="c-raised--light-opaque">

                <section class="o-wrapper o-wrapper--has-sidebar">
                    <div class="o-wrapper__primary o-spacer o-spacer--flipped">

                        {% if talk_title %}

                            <h2 class="c-inverted">{{ talk_title }}</h2>
                            {{ ('<span class="c-subheading">' ~ talk_subtitle ~ '</span>' if talk_subtitle) | safe }}

                            {% if talk_content %}

                                <div class="s-content">
                                    {{ talk_content | safe }}
                                </div>

                            {% else %}

                                <p>Talk content TBA</p>

                            {% endif %}

                        {% else %}

                            <p>Talk title TBA.</p>

                        {% endif %}

                    </div>
                </section>

            </div>

        </div>

        <section class="o-wrapper o-wrapper--has-sidebar o-spacer o-spacer--super">

            <div class="o-wrapper__primary">

                <h2>About {{ title.split(' ')[0] }}</h2>

            </div>

            <div class="o-wrapper__primary o-spacer s-content">

                {{ content | safe }}

                {% if content | length == 0 %}
                    <p>To be announced</p>
                {% endif %}

            </div>

            {#
                Hide external links on desktop until talk content has been provided.
                HARSH BUT FAIR
            #}
            {% if external %}
                <aside class="o-wrapper__secondary o-spacer {{ 'u-md-only' if not talk_content }}">

                    {% include "external-links.njk" %}

                </aside>
            {% endif %}

            {% if previous %}

                <aside class="o-wrapper__primary">

                    <h2>Previous talks</h2>

                    <ul class="o-menu">
                        {% for talk in previous %}
                            <li class="">
                                <div class="c-teaser">
                                    <h3 class="c-teaser__title">
                                        {{ ('<a href="' ~ talk.url ~ '" rel="external">' if talk.url) | safe }}
                                            {{ talk.name }}
                                        {{ ('</a>' if talk.url) | safe }}
                                    </h3>
                                    {{ ('<span class="c-teaser__meta">' ~ talk.where ~ '</span>' if talk.where) | safe }}
                                </div>
                            </li>
                        {% endfor %}
                    </ul>

                </aside>

            {% endif %}

        </section>

        <nav class="o-wrapper o-wrapper--wide o-spacer">

            {#
                Next / Prev in collection links
                Modifed from:
                https://github.com/11ty/eleventy/issues/211#issuecomment-419634985
            #}
            {% macro getSiblingLinks(collection, direction) %}

                {% set currentIndex = 0 %}
                {% set countOfItems = collections[collection].length %}

                {% if direction == 'previous' %}
                    {% set advance = -1 %}
                {% else %}
                    {% set advance = 1 %}
                {% endif %}

                {% for item in collections[collection] %}
                    {% if item.url == page.url %}
                        {% set currentIndex = loop.index0 %}
                    {% endif %}
                {% endfor %}

                {% set siblingIndex = currentIndex + advance  %}
                {% set sibling = collections[collection][siblingIndex] %}

                {% if sibling %}
                    <span class="c-teaser">
                        <span class="c-teaser__title">
                            <a
                                href="{{ sibling.url | url }}"
                                rel="{{ "prev" if direction == 'previous' else "next" }}"
                                title="View the {{ "previous" if direction == 'previous' else "next" }} speaker: {{ sibling.data.title }}">
                                {{ sibling.data.title }}
                            </a>
                        </span>
                    </span>
                {% endif %}

            {% endmacro %}

            <ol class="o-pagination-links">

                <li class="o-pagination-links__item">
                    {{- getSiblingLinks('speakers', 'previous') | trim -}}
                </li>

                <li class="o-pagination-links__item">

                    <div class="c-teaser">
                        <span class="c-teaser__title">
                            <a href="/speakers">View all speakers</a>
                        </span>
                    </div>

                </li>

                <li class="o-pagination-links__item">
                    {{- getSiblingLinks('speakers') | trim -}}
                </li>

            </ol>

        </nav>

    </article>

    {% include "image-clipper.njk" %}

{% endblock %}
