<!doctype html>
<html class="no-js" lang="en-gb">

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>
        {%- if page.url == '/' -%}
            {% set meta_title = metadata.title ~ ' | Returning 7th February, 2020' %}
        {%- else -%}
            {% set meta_title = (title | replace('&shy;', '')) ~ ' | ' ~ metadata.title %}
        {%- endif -%}
        {{- meta_title -}}
    </title>
    {# Is description set in frontmatter? #}
    {% set meta_description = null %}
    {% if description %}
        {% set meta_description = description %}
    {% elseif excerpt %}
        {% set meta_description = excerpt %}
    {% elseif intro %}
        {% set meta_description = intro %}
    {% else %}
        {# If speaker, use talk description (if available!) #}
        {% for talk in collections.schedule %}
            {% if page.fileSlug == talk.data.speaker %}
                {% set meta_description = talk.data.title ~': ' ~ talk.templateContent %}
            {% endif %}
        {% endfor %}
    {% endif %}
    {% set meta_description = (meta_description if meta_description else content) | striptags(true) | truncate(150) %}
    {{ ('<meta name="description" content="' ~ meta_description ~ '">' if meta_description) | safe }}
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="/assets/css/all.css?v={{ project.buildDate }}" rel="stylesheet">

    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
    <link rel="manifest" href="/site.webmanifest">
    <link rel="mask-icon" href="/safari-pinned-tab.svg" color="#484be1">
    <meta name="msapplication-TileColor" content="#484be1">
    <meta name="theme-color" content="#484be1">

    <meta property="og:title" content="{{ meta_title }}">
    {{ ('<meta property="og:description" content="' ~ meta_description ~ '">' if meta_description) | safe }}
    <meta property="twitter:image" content="{{ site.image_cdn ~ card_image if card_image else metadata.url ~ '/android-chrome-512x512.png' }}">
    <meta property="og:image" content="{{ site.image_cdn ~ card_image if card_image else metadata.url ~ '/assets/img/cards/fen-logo.png' }}">
    <meta property="og:image:width" content="1200">
    <meta property="og:image:height" content="630">
    <meta property="og:url" content="{{ metadata.url }}{{ page.url }}">
    {# Check to see if this is a speaker & thus ENHCNACEDS METAR #}
    {%- set og_type = null -%}
    {% for speaker in collections.speakers -%}
        {% if page.fileSlug == speaker.fileSlug %}
            {%- set og_type = 'profile' -%}
            <meta property="og:profile_first_name" content="{{ title.split(' ')[0] | replace('&shy;', '') }}" />
            <meta property="og:profile_last_name" content="{{ title.split(' ').reverse()[0] | replace('&shy;', '') }}" />
        {% endif %}
    {%- endfor -%}
    <meta property="og:type" content="{{ og_type | d('website', true) }}" />
    <meta name="twitter:card" content="{{ 'summary_large_image' if card_image else 'summary' }}">
    <meta name="twitter:image:alt" content="Front End North Conference">
    <meta property="og:site_name" content="Front End North">
    <meta property="fb:app_id" content="333914457322662" />
    <meta name="twitter:site" content="@frontendnorth">

    <script defer src="/assets/js/main.js?v={{ project.buildDate }}"></script>
</head>
<body>

    {% include 'navigation/primary.njk' %}

    <main class="o-spacer">

        {% block main %}{% endblock %}

    </main>

    <footer class="o-spacer">

        <div class="o-wrapper o-spacer">

            <h2 class="delta">Sign-up for updates</h2>
            {% include "signup.njk" %}

        </div>

        <div class="o-wrapper o-footer">

            <div class="o-footer__legal s-content">

                <small class="c-reduced">Front End North Ltd. | Registered company 11851024 <br><a href="/code-of-conduct">Code of Conduct</a></small>

            </div>
            <div class="o-footer__social">

                {% include "social.njk" %}

            </div>

        </div>
    </footer>

    {% include 'tracking.njk' %}

    {% include 'inline-svg.njk' %}

</body>
</html>
