---
title: 'Blog: Latest conference updates'
pagination:
    data: collections.blog
    size: 10
    alias: blog
    reverse: true
tags: nav
navTitle: 'Blog'
navOrder: 30
---
{% import "_macros/icons.njk" as icons %}

{% extends "_layouts/base.njk" %}

{% block main %}

    <div class="o-hero-header o-spacer o-spacer--super@lg c-raised--hero-gradient c-inverted">

        <header class="o-hero-header__copy o-wrapper">

            <h1 class="c-inverted">Blog</h1>
            <span class="c-subheading">Latest conference updates from the team</span>

        </header>

    </div>

    <div class="o-wrapper o-spacer">

        {% for post in blog %}
            {% set teaser = { level: 'h2' } %}
            {% include "_teaser/blog.njk" %}
        {% endfor %}

    </div> {# /.o-wrapper.o-spacer #}

    {# Only show pagination when required #}
    {% if pagination.hrefs | length > 1 %}

        <nav class="o-wrapper o-wrapper--wide o-spacer" aria-label="Blog pagination">

            <ol class="o-pagination-link">

                {% if pagination.previousPageHref %}
                    <li class="o-pagination-link__item">
                        <span class="c-teaser">
                            <span class="c-teaser__title">
                                <a
                                    href="{{ pagination.previousPageHref }}"
                                    rel="prev"
                                    class="c-arrow-link  c-arrow-link--previous">
                                    Newer posts
                                    {{ icons.icon('arrow-right') }}
                                </a>
                            </span>
                        </span>
                    </li>
                {% endif %}
                {% if pagination.nextPageHref %}
                    <li class="o-pagination-link__item">
                        <span class="c-teaser">
                            <span class="c-teaser__title">
                                <a
                                    href="{{ pagination.nextPageHref }}"
                                    rel="prev"
                                    class="c-arrow-link">
                                    Older posts
                                    {{ icons.icon('arrow-right') }}
                                </a>
                            </span>
                        </span>
                    </li>
                {% endif %}

            </ol>

        </nav>

    {% endif %}

{% endblock %}
