---
title: 'Blog: Latest conference updates'
pagination:
    data: collections.blog
    size: 10
    alias: blog
    reverse: true
tags: nav
navTitle: 'Blog'
navOrder: 30
---

{% extends "_layouts/base.njk" %}

{% block main %}

    <h1>Blog</h1>
    {% for post in blog %}
        {% include "_teaser/blog.njk" %}
    {% endfor %}

    {# Only show pagination when required #}
    {% if pagination.hrefs | length > 1 %}

        <nav aria-label="pagination">
            {{ ('<a href="' ~ pagination.previousPageHref ~ '">Newer posts</a>' if pagination.previousPageHref) | safe }}
            {{ ('<a href="' ~ pagination.nextPageHref ~ '">Older posts</a>' if pagination.nextPageHref) | safe }}
        </nav>

    {% endif %}

{% endblock %}
