---
title: Home
description: A one-day one-track conference in Sheffield for front end developers.
---
{# layout: base.njk #}
{% extends "_layouts/base.njk" %}

{% block main %}

    <header class="o-spacer c-raised--hero-gradient c-inverted">

        <div class="o-hero-header">
            <div class="o-hero-header__logo">

                <h1 class="c-logo">
                    <img src="/assets/img/logo-inv.svg" alt="" aria-hidden="true">
                    <span class="c-logo__text">Front End North</span>
                </h1>

            </div>
            <div class="o-hero-header__intro">

                <p class="c-lede">
                    <strong>The Crucible, Sheffield UK - February&nbsp;2020</strong><br>
                    A welcoming one-track, one-day conference for <strong>developers and designers</strong> who work on the&nbsp;web.
                </p>

            </div>

            <div class="o-hero-header__social">
                <span class="c-lede"><strong>Stay in touch:</strong></span>

                {% set social = [
                    {
                        name: "Twitter",
                        url: "https://twitter.com/frontendnorth",
                        icon: "twitter",
                        title: "Follow us on Twitter"
                    },
                    {
                        name: "Facebook",
                        url: "https://www.facebook.com/Front-End-North-502356493635369",
                        icon: "facebook",
                        title: "Like us on Facebook"
                    },
                    {
                        name: "Instagram",
                        url: "https://www.instagram.com/frontendnorth/",
                        icon: "instagram",
                        title: "Follow us on Instagram"
                    }
                ] %}

                {% for service in social %}
                    <a href="{{ service.url }}" target="_blank" rel="noopener noreferrer nofollow" title="{{ service.title }}" class="c-social">
                        <span class="u-visually-hidden">{{ service.name }}</span>
                        <svg aria-hidden="true" role="presentation" class="c-icon">
                            <use href="#{{ service.icon }}"></use>
                        </svg>
                    </a>
                {% endfor %}

            </div>
            <div class="o-hero-header__signup">

                {% include "signup.njk" %}

            </div>
        </div>

    </header>

    <main class="o-wrapper">

        <section class="o-spacer">

            <div class="s-content">

                <h2>Sponsorship</h2>
                <p>
                    We’re currently offering sponsorship packages for Front End North 2020. Find out more about our sponsorship packages or get in touch at <a href="mailto:admin@frontendnorth.com" rel="author">admin@frontendnorth.com</a>.
                </p>
                <a href=".pdf" type="application/pdf" class="c-button">Download our sponsor pack</a>

            </div>

            <h3>Our sponsors:</h3>

            <div class="o-sponsor-grid">
                {%- for sponsor in sponsors -%}
                    {{ ('<a href="' ~ sponsor.url ~ '" rel="external" title="' ~ sponsor.name ~ '">' if sponsor.url) | safe }}
                        <span class="u-visually-hidden">{{ sponsor.name }}</span>
                        <img src="{{ site.image_folder }}sponsors/{{ sponsor.logo }}" alt="">
                    {{ ('</a>' if sponsor.url) | safe }}
                {%- endfor -%}
            </div>

        </section>
<!--
        <section class="o-spacer">

            <h2>Blog</h2>

            {% for post in collections.blog | reverse | limit(2) %}
                <article class="c-teaser">
                    <h3 class="c-teaser__title">
                        <a href="{{ post.url }}">{{ post.data.title }}</a>
                    </h3>
                    <time class="c-teaser__meta" datetime="{{ post.date|htmlDateString }}">{{ post.date | readableDate }}</time>
                    <div class="c-teaser__excerpt">
                        <p>
                            {# Use body copy as excerpt unless frontmatter available  #}
                            {{ post.data.excerpt if post.data.excerpt else post.templateContent | striptags(true) | truncate(200) }}
                        </p>
                    </div>
                </article>
            {% endfor %}

        </section>
-->
    </main>

    <footer>

        <div class="o-wrapper">

            <small class="c-reduced">Front End North Ltd. | Registered company 11851024</small>

        </div>

    </footer>

{% endblock %}
