---
title: Home
description: A welcoming one-track, one-day conference in Sheffield, UK for developers and designers who work on the web.
tags: nav
navOrder: 0
---

{% import "_macros/icons.njk" as icons %}

{# layout: base.njk #}
{% extends "_layouts/base.njk" %}

{% block main %}

    <header class="o-hero-header o-hero-header--home o-spacer o-spacer--super@lg c-raised--hero-gradient c-inverted">

        <div class="o-wrapper o-hero-header__copy">
            <div class="o-hero-header__logo">

                <h1 class="c-logo">
                    <img src="/assets/img/logo-inv.svg" alt="" aria-hidden="true" class="c-logo__hero">
                    <img src="/assets/img/logo-inv-stacked.svg" alt="" aria-hidden="true" class="c-logo__stacked">
                    <span class="c-logo__text">Front End North</span>
                </h1>

            </div>
            <div class="o-hero-header__intro">

                <p class="c-lede">
                    <strong class="u-uppercase">
                        7th&nbsp;February, 2020<br>
                        The Crucible Sheffield,&nbsp;UK
                    </strong><br>
                    A welcoming one-track, one-day conference for <strong>developers and designers</strong> who work on the&nbsp;web.
                </p>

                <div class="o-hero-header__action">
                    {% if site.finished != true %}
                        <a href="{{ metadata.ticket_url }}" class="c-button c-button--split">
                            Buy tickets now
                            <strong class="c-button__emphasis">&pound;50</strong>
                        </a>
                    {% else %}
                        <a href="/schedule/" class="c-button c-button--pop">
                            View our 2020 schedule
                        </a>
                    {% endif %}
                </div>

            </div>
            <section class="">

                <h2 class="c-inverted">Our speakers</h2>

                <ul class="o-speaker-grid">
                    {% for speaker in collections.speakers | limit(4) %}
                        {% if speaker.data.featured %}
                            <li class="o-speaker-grid__item">
                                {% set teaser = {
                                    type: 'media',
                                    inverted: true
                                } %}
                                {% include "_teaser/speaker.njk" %}
                            </li>
                        {% endif %}
                    {% endfor %}
                </ul>

                <a href="/speakers/" class="c-button">View the full 2020 line-up</a>

            </section>
        </div>
        <div class="o-hero-header__image">
            <img
                srcset="{{ site.image_cdn }}crucible-bg.jpg?w=900 900w,
                    {{ site.image_cdn }}crucible-bg.jpg?w=1345 1345w"
                sizes="(max-width: 1050px) 900px,
                    1345px"
                src="{{ site.image_cdn }}crucible-bg.jpg?w=1345"
                alt="The Crucible, Sheffield - photograph by Craig Flemming">
        </div>

    </header> {# /.o-hero-header #}

    <div class="o-wrapper">

        <section class="o-spacer o-spacer--super@md">

            <h2><a href="/blog/">Blog</a></h2>

            {% for post in collections.blog | reverse | limit(2) %}
                {% include "_teaser/blog.njk" %}
            {% endfor %}

            <a href="/blog/" class="c-button">View all updates</a>

        </section>

        <section class="o-spacer@md">

            <h2><a href="/sponsors/">Sponsorship</a></h2>

            <div class="s-content">

                <p>
                    We’re currently offering sponsorship packages for Front End North 2020. Find out more about our sponsorship packages or get in touch at <a href="mailto:{{ metadata.email }}?subject=Sponsorship%20opportunities" rel="author">{{ metadata.email }}</a>.
                </p>
                <a href="/sponsors/" class="c-button">Learn more about sponsorship</a>

            </div>

            <h3>Our 2020 sponsors:</h3>

            <div class="o-sponsor-grid o-sponsor-grid--compact">
                {%- for level in [_2020.sponsors.gold, _2020.sponsors.silver] -%}
                    {# {{ level | dump | safe }} #}
                    {% for sponsor in level %}
                        {{ ('<a href="' ~ sponsor.url ~ '" rel="external" title="' ~ sponsor.name ~ '" class="h-sponsor--' ~ sponsor.name | slug ~ '">' if sponsor.url) | safe }}
                            <span class="u-visually-hidden">{{ sponsor.name }}</span>
                            <img src="{{ site.image_folder }}sponsors/{{ sponsor.logo }}" alt="">
                        {{ ('</a>' if sponsor.url) | safe }}
                    {% endfor %}
                {%- endfor -%}
            </div>

        </section>

    </div>

    <section class="c-raised c-announcement c-inverted js-banner">

        <div class="o-wrapper o-wrapper--wide">

            <h2 class="gamma">We are returning for Summer 2025!</h2>
            <p class="c-lede">More details soon.</p>
            <div class="c-announcement__actions">
                <a href="/blog/" class="c-button c-button--pop">Read more on our blog post</a>
                <span class="c-reduced s-content">…or <a href="#subscribe" class="js-banner-dismiss">sign-up for our 2025 updates here</a></span>
            </div>

            <button class="c-announcement__dismiss js-banner-dismiss" data-trigger="banner">
                Dismiss
                {{ icons.icon('cross', 'inherit') }}
            </button>

        </div>

    </section>

    {% include "image-clipper.njk" %}

{% endblock %}
