---
permalink: robots.txt
eleventyExcludeFromCollections: true
---
User-agent: *
{% if project.environment == "production" -%}
Sitemap: {{ metadata.url }}/sitemap.xml
{% else -%}
Disallow: /
{% endif %}
