---
title: 'Schedule 2020'
tags: nav
navOrder: 20
navTitle: 'Schedule'
---

{% extends "_layouts/base.njk" %}

{% block main %}

    <div class="o-hero-header o-spacer o-spacer--super@lg c-raised--hero-gradient">

        <div class="o-hero-header__copy o-wrapper o-wrapper--wide">

            <header class="o-spacer c-inverted">

                <h1 class="c-inverted">Schedule</h1>
                <span class="c-subheading">Our 7 February 2020 running order</span>

            </header>

            <div class="o-spacer">

                {% for item in _2020.schedule %}
                    {% include "_teaser/schedule.njk" %}
                {% endfor %}

            </div>

            <div class="u-centered">
                <a href="/venue/" class="c-button c-button--pop u-center">View venue details & local area guide</a>
            </div>

        </div>

    </div>

    {% include "image-clipper.njk" %}

{% endblock %}
