---
title: 'Schedule 2020'
ignore: true
---

{% extends "_layouts/base.njk" %}

{% block main %}

    <main>

        <h1>Schedule</h1>

        {% for talk in collections.schedule %}
            <h2>{{ talk.data.title }}</h2>
            <span class="">{{ talk.data.subtitle }}</span>
            <br>{{ talk.data.time | readableTime }}<br>
            Get info where: {{ talk.data.speaker }}<br>
            {% for speaker in collections.speakers %}
                {# If speaker matches that in schedule entry #}
                {% if talk.data.speaker == speaker.fileSlug %}
                    <a href="{{ speaker.url }}">{{ speaker.data.title }}</a>
                    {% for item in speaker.data.external %}
                        {{ ('<a href="https://twitter.com/' ~ item.twitter ~ '" rel="external" title="Follow ' ~ speaker.data.title ~ '">' ~ item.twitter ~ '</a>' if item.twitter) | safe }}
                    {% endfor %}
                {% endif %}
            {% endfor %}
        {% endfor %}

    </main>

{% endblock %}
