---
title: 'Schedule 2020'
ignore: true
---

{% extends "_layouts/base.njk" %}

{% block main %}

    <main>

        <h1>Schedule</h1>

        {% for talk in collections.schedule %}
            <h2>{{ talk.data.title }}</h2>
            {{ talk.url }}
            <br>{{ talk.data.time | readableTime }}<br>
            Get info where: {{ talk.data.speaker }}<br>
            {% for speaker in collections.speakers %}
                {# TODO: Hacky AF? #}
                {% if talk.data.speaker == speaker.fileSlug %}
                    <a href="{{ speaker.url }}">{{ speaker.data.title }}</a>
                    {{ ('<a href="https://twitter.com/' ~ speaker.data.twitter ~ '" rel="external" title="Follow ' ~ speaker.data.title ~ '">' ~ speaker.data.twitter ~ '</a>' if speaker.data.twitter) | safe }}
                {% endif %}
            {% endfor %}
        {% endfor %}

    </main>

{% endblock %}
