---
permalink: sitemap.xml
ignore: true
---
<?xml version="1.0" encoding="UTF-8"?>
<urlset xmlns="http://www.sitemaps.org/schemas/sitemap/0.9">
{%- for item in collections.all %}
{%- if item.data.ignore != true %}
  <url>
    <loc>{{ metadata.url }}{{ item.url }}</loc>
    <lastmod>{{ item.date|htmlDateString }}</lastmod>
    <changefreq>{{ item.data.changefreq|default("monthly") }}</changefreq>
  </url>
{%- endif %}
{%- endfor %}
</urlset>
