---
title: 'Speakers'
description: 'Our February 2020 conference lineup. Check back for more speakers as the results of our CFP is processed'
tags: nav
navOrder: 10
---

{% extends "_layouts/base.njk" %}

{% block main %}

    <div class="o-hero-header o-spacer c-raised--hero-gradient c-inverted">

        <div class="o-hero-header__copy o-wrapper o-wrapper--wide">

            <header class="o-spacer c-inverted">

                <h1 class="c-inverted">2020 Speakers</h1>
                <span class="c-subheading">Our evolving line up</span>

            </header>

            <ul class="o-speaker-grid o-speaker-grid--fix-support">
                {% for speaker in collections.speakers %}
                    {% if speaker.data.featured %}
                        <li class="o-speaker-grid__item">
                            {% set teaser = {
                                inverted: true,
                                type: 'speaker',
                                level: 'h2'
                            } %}
                            {% include "_teaser/speaker.njk" %}
                        </li>
                    {% endif %}
                {% endfor %}
            </ul>

        </div> {# /.o-hero-header__copy.o-wrapper.o-wrapper--wide #}

    </div>

    <div class="o-wrapper o-spacer o-spacer--super@md">

        <h2>Who else is speaking at Front End North 2020?</h2>
        <p>
            The speakers announced above <strong>will only make up part</strong> of our line-up. We are in the middle of a Call for Proposals (CFP) process and will reveal who will be joining them soon.
        </p>

        <a href="/blog/2019/09/apply-to-speak-at-front-end-north-2020/" class="c-button">Read about our CFP process</a>

    </div> {# /.o-wrapper.o-spacer #}

{% endblock %}
