---
title: 'Speakers'
description: 'Our February 2020 conference lineup. Check back for more speakers as the results of our CFP is processed'
tags: nav
navOrder: 10
---

{% extends "_layouts/base.njk" %}

{% block main %}

    <div class="o-hero-header o-spacer c-raised--hero-gradient c-inverted">

        <div class="o-hero-header__copy o-wrapper o-wrapper--wide">

            <header class="o-spacer c-inverted">

                <h1 class="c-inverted">2020 Speakers</h1>
                <span class="c-subheading">Our full line up</span>

            </header>

            <ul class="o-speaker-grid o-speaker-grid--fix-support">
                {% for speaker in collections.speakers %}
                    {% if speaker.data.featured %}
                        <li class="o-speaker-grid__item">
                            {% set teaser = {
                                inverted: true,
                                type: 'speaker',
                                level: 'h2'
                            } %}
                            {% include "_teaser/speaker.njk" %}
                        </li>
                    {% endif %}
                {% endfor %}
            </ul>

        </div> {# /.o-hero-header__copy.o-wrapper.o-wrapper--wide #}

    </div>

    <div class="o-wrapper">

        <section class="o-spacer o-spacer--super@md">

            <h2><a href="/blog/">Speaker updates & more…</a></h2>

            {% for post in collections.blog | reverse | limit(2) %}
                {% include "_teaser/blog.njk" %}
            {% endfor %}

            <a href="/blog/" class="c-button">View all updates</a>

        </section>

    </div> {# /.o-wrapper.o-spacer #}

{% endblock %}
