/**
 *	Colors
 **/


// brand
$color-brand-primary: #484be1; // blue
$color-brand-secondary: #ff8725; // orange


// backgrounds
$color-bg-grey-light: #e6e6e6;
$color-bg-grey-mid: darken(#e6e6e6, 10);
$color-bg-grey-dark: #272724;
$color-bg-white: #fdfdfd;


// gradients
$color-gradient-primary-dark: #6913cc;
$color-gradient-primary-light: #2674fb;
$color-gradient-primary: linear-gradient(to bottom,
    $color-gradient-primary-dark,
    $color-gradient-primary-light);
$color-gradient-secondary-dark: #ff7723;
$color-gradient-secondary-light: #ffb92d;
$color-gradient-secondary: linear-gradient(to bottom,
    $color-gradient-secondary-light,
    $color-gradient-secondary-dark);

// text
$color-text-base: #262626; // 85%
$color-text-headings: $color-bg-grey-dark; // 75%
$color-text-reduced: #727272; // 50%
$color-text-white: #fff;
$color-text-highlight: $color-brand-secondary;
$color-text-links: $color-brand-secondary;
$color-text-error: #c41e3d;

// …with hover
$color-text-white-hover: darken($color-text-white, 15);
$color-text-links-hover: lighten($color-brand-primary, 10);


// lines
$color-border: #b4b4b4;
