/*
 *	Viewports and mobile sizes
 *	Driven by https://github.com/sass-mq/sass-mq
 */

$width-page: 632px;
$width-page-max: 1180px;

$mq-breakpoints: (
    xs: 350px,
    sm: 700px,
    md: 1050px,
    lg: 1300px,
    xl: 1500px,

    // Tweakpoints
    mdPlus: 1200px,
    navigationBreak: 950px,
);

// @debug map-get($mq-breakpoints, maximum);

// If you want to display the currently active breakpoint in the top
// right corner of your site during development, add the breakpoints
// to this list, ordered by width, e.g. (mobile, tablet, desktop).
// $mq-show-breakpoints: (xs, sm, md, lg, xl);

// The sass-mq library
@import '../../../../node_modules/sass-mq/mq';
