<article class="c-teaser">
    <{{ teaser.level if teaser.level else 'h3' }} class="c-teaser__title {{ 'c-teaser__title--default' if teaser.level }}">
        <a href="{{ post.url }}">{{ post.data.title }}</a>
    </{{ teaser.level if teaser.level else 'h3' }}>
    <time class="c-teaser__meta" datetime="{{ post.date|htmlDateString }}">{{ post.date | readableDate }}</time>
    <div class="c-teaser__excerpt">
        <p>
            {# Use body copy as excerpt unless frontmatter available  #}
            {% set teaser_length = 200 %}
            {% set teaser_excerpt = null %}
            {% if post.data.excerpt %}
                {% set teaser_excerpt = post.data.excerpt %}
            {% else %}
                {% set teaser_excerpt = (post.data.intro if post.data.intro else post.templateContent) %}
            {% endif %}
            {{ teaser_excerpt | striptags(true) | truncate(teaser_length) }}
        </p>
    </div>
</article>
