<article class="c-teaser
    {{ ' c-teaser--inverted' if teaser.inverted }}
    {{ 'c-teaser--' ~ teaser.type if teaser.type }}">
    <div class="c-teaser__text">
        <{{ teaser.level if teaser.level else 'h3' }} class="c-teaser__title">
            <a href="{{ speaker.url }}">{{ speaker.data.title }}</a>
        </{{ teaser.level if teaser.level else 'h3' }}>
        {% if speaker.data.role %}
            <span class="c-teaser__meta c-teaser__meta--important">
                {{ speaker.data.role }}
            </span>
        {% endif %}
    </div>
    {% if speaker.data.image %}
        <div class="c-teaser__image">
            <img srcset="{{ site.image_cdn }}{{ speaker.data.image }}?thumbnail=560 560w,
                    {{ site.image_cdn }}{{ speaker.data.image }}?thumbnail=280 280w,
                    {{ site.image_cdn }}{{ speaker.data.image }}?thumbnail=200 200w,
                    {{ site.image_cdn }}{{ speaker.data.image }}?thumbnail=100 100w"
                sizes="{% if teaser.type == 'speaker' %}
                    (min-width:700px) 280px,
                {% endif %}
                    100px"
                src="{{ site.image_cdn }}{{ speaker.data.image }}?thumbnail=280"
                alt="">
        </div>
    {% endif %}
</article>
