/**
 *	Hero header
 *
 *	For the homepage header area.
 *
 **/

.o-hero-header {

	$image-size: 200px;
	$image-size-md: 400px;
	$image-size-md-plus: 600px;
	$image-size-lg: 725px;
	$image-size-xl: 825px;

	overflow: hidden;
	position: relative;

	@include mq(xs) {
		padding: 0 $space-l;
	}

	&__copy {
		// margin: 0 auto; // TODO: in wrapper
		padding: $space-xxl 0;
		position: relative;
		z-index: 2; // lift above image

		@include mq(xs) {
			// padding-left: $space-xl;
			// padding-right: $space-xl;
		}

		@include mq(sm) {
			padding-top: $space-xxxl;
			padding-bottom: $space-xxxl;
		}

		@include mq(md) {
			// TODO: remove 100px when menu added
			padding: ($space-xxxl +$space-xxl) 0 $space-xxxl 0;
			max-width: $width-page;
		}
	}

		&__logo {
			box-sizing: border-box;
			margin: 0
				auto
				$space-xxl
				auto;
			max-width: 500px;

			@include mq(sm) {
				margin-left: 0;
				max-width: 320px;
			}

			@include mq(md) {
				margin-left: -198px;
				// Magic number to cause overlap to line text up with body copy
			}

			@include mq(lg) {
				margin-left: -307px;
				max-width: 500px;
			}
		}

		&__intro {
			margin: 0
				auto
				$space-xxl
				auto;
			position: relative;
			text-align: center;
			max-width: 500px;

			@include mq(sm) {
				margin-left: 0;
				text-align: left;
			}

			@include mq($from: lg, $and: '(min-height: 900px)') {
				margin-bottom: $space-xxxl;
			}
		}

			&__action {
				@include mq(md) {
					position: absolute;
					top: 0;
					right: -279px;
				}
			}

		&__social {
			display: flex;
			justify-content: center;
			margin-bottom: $space-l;

			// Only introduce if there is space to do so
			& > :first-child {
				display: none;

				@include mq(xs) {
					display: inline-block;
				}
			}

			@include mq(sm) {
				justify-content: flex-start;
			}
		}

		&__signup {
			margin: 0 auto;
			max-width: 450px;

			@include mq(sm) {
				margin-left: 0;
			}
		}

		&__image {
			display: none; // TODO: clip-path alternative
			margin: 0 auto;

			@supports(clip-path: url('#svgPath')) {
				display: block;
				height: $image-size;
				background: rgba(#000, .25);
				clip-path: url('#svgPath');
				position: relative;
				width: $image-size;

				> img {
					bottom: 0;
					height: 100%;
					position: absolute;
					min-width: 100%;
				}
			}

			@include mq(md) {
				bottom: 0;
				height: $image-size-md;
				margin: 0;
				margin-bottom: -(($image-size-md /2) + $space-xxl); // +`o-spacer`
				position: absolute;
				right: ($width-page + $space-l + $space-xxl); // text + wrapper padding + comfy
				width: $image-size-md;
			}

			@include mq(mdPlus) {
				height: $image-size-md-plus;
				margin-bottom: -(($image-size-md-plus /2) + $space-xxl);
				right: ($width-page + $space-l + $space-xxl);
				width: $image-size-md-plus;
			}

			@include mq(lg) {
				height: $image-size-lg;
				margin-bottom: -(($image-size-lg /2) + $space-xxl);
				width: $image-size-lg;
			}

			@include mq(xl) {
				height: $image-size-xl;
				width: $image-size-xl;

				> img {
					// height: calc(100% - 400px);
				}
			}

			// IE / Edge tells stinking LIES about support of clip-path, so…
			@supports (-ms-ime-align:auto) {
				display: none;
			}

		}

	// homepage variations
	&--home {
	.o-hero-header {
		&__image {
			display: none; // TODO: Landscape image for mobile?

			@supports(clip-path: url('#svgPath')) {
				@include mq(sm) {
					display: flex;
					height: 900px;
					margin-left: 200px;
					bottom: 0;
					left: 40%;
					position: absolute;
					right: 0;
					top: -250px;
					width: 900px;

					> img {
						height: calc(100% - 250px);
						left: -12%;
						position: absolute;
					}
				}

				@include mq(md) {
					height: 1345px;
					left: 50%;
					top: -400px;
					width: 1345px;

					> img {
						height: calc(100% - 400px);
					}
				}

				@include mq(lg) {
					> img {
						left: 0;
					}
				}
			}
		}
	}
	}

}
