/**
 *	Hero header
 *
 *	For the homepage header area.
 *
 **/

.o-hero-header {

	$image-size: $space-xxxl *1.5;
	// Note: yes, it gets smaller, then bigger, then smaller again!
	$image-size-sm: $space-xxxl;
	$image-size-md: $space-xxxl *3;
	$image-size-md-plus: $space-xxxl *4;
	$image-size-lg: $space-xxxl *5;
	$image-size-xl: $space-xxxl *6;

	// For shallow screens
	$tightHeight: 900px;
	// TODO: remove 70px menu guestimate?
	$menuHeight: 70px;

	// When things get awkward around the face…
	@include mq-add-breakpoint(faceBreak, 450px);

	overflow: hidden;
	position: relative;

	@include mq(xs) {
		padding: 0 $space-l;
	}

	&__copy {
		padding: $space-xxxl
			0
			$space-xxl
			0;
		position: relative;
		z-index: 2; // lift above image

		@include mq(faceBreak) {
			padding-right: ($image-size + $space-xl) ; // clear image + padding
		}

		@include mq(sm) {
			padding: $space-xxxl
				($image-size-sm + $space-xl)
				$space-xxl
				0;
		}

		@include mq(md) {
			padding-top: ($space-xxxl + $menuHeight);
			padding-right: 0; // Let column `o-wrapper` system deal with this
			max-width: $width-page;
		}

		> *:last-child {
			margin-bottom: 0;
		}
	}

		&__logo {
			box-sizing: border-box;
			margin: 0
				auto
				$space-xxl
				auto;
			max-width: 500px;

			@include mq(sm) {
				margin-left: 0;
				max-width: 320px;
			}

			@include mq(md) {
				margin-left: -198px;
				// Magic number to cause overlap to line text up with body copy
			}

			@include mq(lg) {
				margin-left: -307px;
				max-width: 500px;
			}
		}

		&__intro {
			margin: 0
				auto
				$space-xxxl
				auto;
			position: relative;
			text-align: center;
			max-width: 500px;

			@include mq(sm) {
				margin-bottom: $space-xxl;
				margin-left: 0;
				text-align: left;
			}

			@include mq($from: lg, $and: '(min-height: #{$tightHeight})') {
				margin-bottom: $space-xxxl;
			}
		}

			&__action {
				@include mq(md) {
					position: absolute;
					top: 0;
					right: -279px;
				}
			}

		&__social {
			display: flex;
			justify-content: center;
			margin-bottom: $space-l;

			// Only introduce if there is space to do so
			& > :first-child {
				display: none;

				@include mq(xs) {
					display: inline-block;
				}
			}

			@include mq(sm) {
				justify-content: flex-start;
			}
		}

		&__signup {
			margin: 0 auto;
			max-width: 450px;

			@include mq(sm) {
				margin-left: 0;
			}
		}

		// This is usually a BEAUTIFUL face
		&__image {
			display: none; // TODO: clip-path alternative
			margin: 0
				auto
				$space-xxl
				auto;

			@supports(clip-path: url('#svgPath')) {
				display: block;
				height: $image-size; // fallback
				height: 75vw;
				background: rgba(#000, .25);
				clip-path: url('#svgPath');
				position: relative;
				width: $image-size;
				width: 75vw;

				> img {
					bottom: 0;
					height: 100%;
					position: absolute;
					min-width: 100%;
				}
			}

			@include mq(faceBreak) {
				bottom: -$space-xl;
				height: $image-size;
				position: absolute;
				right: $space-l;
				width: $image-size;
			}

			@include mq(sm) {
				bottom: -$space-l;
				height: $image-size-sm;
				width: $image-size-sm;
			}

			@include mq(md) {
				bottom: 0;
				height: $image-size-md;
				margin: 0;
				margin-bottom: -($image-size-md /2);
				right: ($width-page + $space-l + $space-xxl); // text + wrapper padding + comfy
				width: $image-size-md;
			}

			@include mq(mdPlus) {
				height: $image-size-md-plus;
				margin-bottom: -($image-size-md-plus /2);
				right: ($width-page + $space-l + $space-xxl);
				width: $image-size-md-plus;
			}

			@include mq(lg) {
				height: $image-size-lg;
				margin-bottom: -($image-size-lg /2);
				width: $image-size-lg;
			}

			@include mq(xl) {
				height: $image-size-xl;
				margin-bottom: -($image-size-xl /2);
				width: $image-size-xl;
			}

			// IE / Edge tells stinking LIES about support of clip-path, so…
			@supports (-ms-ime-align:auto) {
				display: none;
			}

		}

	// homepage variations
	&--home {
	.o-hero-header {

		&__copy {
			@include mq(lg) {
				padding-bottom: $space-xxxl;
			}

			@include mq($from: lg, $and: '(min-height: #{$tightHeight})') {
				padding-top: (($space-xxxl *1.5) + $menuHeight);
			}
		}

		&__image {
			display: none; // TODO: Landscape image for mobile?

			@supports(clip-path: url('#svgPath')) {
				@include mq(sm) {
					display: flex;
					height: 900px;
					margin-left: 200px;
					bottom: 0;
					left: 40%;
					position: absolute;
					right: 0;
					top: -250px;
					width: 900px;

					> img {
						height: calc(100% - 250px);
						left: -12%;
						position: absolute;
					}
				}

				@include mq(md) {
					height: 1345px;
					left: 50%;
					top: -400px;
					width: 1345px;

					> img {
						height: calc(100% - 400px);
					}
				}

				@include mq(lg) {
					> img {
						left: 0;
					}
				}
			}
		}
	}
	}

}
