/**
 *	Navigation
 *
 *	Placement of the primary navigation menu and controls.
 *
 **/

.o-navigation {

	position: absolute;
	width: 100%;
	z-index: 20;

	@include mq(navigationBreak) {
		background: rgba(#000, .25);
		width: 100%;
	}

	&__wrapper {
		box-sizing: border-box;
		margin: 0 auto;
		padding: $space-l;
		width: 100%;
		max-width: $width-page;

		@include mq(navigationBreak) {
			align-items: center;
			display: flex;
			justify-content: flex-start;
			max-width: $width-page-max;
		}

		@include mq(md) {
			padding-left: $space-xl;
			padding-right: $space-xl;
		}
	}

		// Please note: There is a link to 'home' in the menu too
		&__logo {
			background: transparent url('/assets/img/logo.svg') center center no-repeat;
			background-size: contain;
			display: inline-block;
			height: 34px;
			margin-top: $space-l;
			width: 51px;

			@include mq(navigationBreak) {
				height: 34px;
				margin: 0
					$space-xl
					0
					0;
				width: 51px;
			}

			@include mq(xl) {
				margin-left: -(51px + $space-xl);
			}
		}

		&__overlay {
			@include mq($until: navigationBreak) {
				background: $color-bg-grey-dark;
				bottom: -100%;
				height: 100%;
				position: fixed;
				overflow-y: scroll;
				left: 0;
				visibility: hidden;
				width: 100%;
				// Transitions shouldn't really be a BEM object thing but…
				transition: bottom .2s ease-in-out;

				&.is-open {
					bottom: 0;
					transition-duration: .1s;
					visibility: visible;
				}
			}

			@include mq(navigationBreak) {
				align-items: center;
				display: flex;
				flex: 1 1 auto;
				justify-content: space-between;
			}
		}

			&__menu {
				@include mq($until: navigationBreak) {
					padding: $space-xxl
						$space-xl
						0
						$space-xl;
				}
				@include mq(navigationBreak) {
					display: inline-block;
					flex: 1 1 auto; // Push social stuff to the end
					margin-left: -$space-l;
				}
			}

			&__social {
				flex: 0 0 auto;

				@include mq($until: navigationBreak) {
					padding: $space-xl;
				}

				@include mq(navigationBreak) {
					display: none;
				}

				@include mq(xl) {
					display: block;
				}
			}

			&__cta {
				flex: 0 0 auto;

				@include mq($until: navigationBreak) {
					padding: $space-xl;
					padding-right: 0;
				}

				@include mq(navigationBreak) {
					// Hack to stop button causing inconsistency between
					// pages where it is in menu and where it isn't.
					margin: -.5em
						0;
				}

				@include mq(xl) {
					margin-left: $space-xl;
					order: 10;
				}
			}

				// Hide on homepage, it clashes with the body CTA
				&--hide-cta &__cta {
					@include mq(navigationBreak) {
						display: none;
					}
				}

	&__trigger {
		bottom: $space-l;
		display: block;
		position: fixed;
		right: $space-default;

		@include mq(navigationBreak) {
			display: none;
		}
	}

}
