/**
 *	Spacer
 *
 *	Used for vertical (only!) spacing.
 *
 **/

.o-spacer {

	margin-bottom: $space-xxl;

	@include mq(md) {
		&\@md {
			margin-bottom: $space-xxl;
		}
	}

	// 🇦🇺
	&--flipped {
		margin-top: $space-xxl;
	}

	// DAS HUEG
	&--super {
		margin-bottom: $space-xxxl;

		$tightHeight: 900px;

		// Don't use these on shallow screens
		@include mq($from: md, $and: '(min-height: #{$tightHeight})') {
			&\@md {
				margin-bottom: $space-xxxl;
			}
		}

		@include mq($from: lg, $and: '(min-height: #{$tightHeight})') {
			&\@lg {
				margin-bottom: $space-xxxl;
			}
		}
	}

}
