/**
 *	Spacer
 *
 *	Used for vertical (only!) spacing.
 *
 **/

.o-spacer {

	margin-bottom: $space-xxl;

	@include mq(md) {
		&\@md {
			margin-bottom: $space-xxl;
		}
	}

	// 🇦🇺
	&--flipped {
		margin-top: $space-xxl;
	}

	// DAS HUEG
	&--super {
		margin-bottom: $space-xxxl;

		@include mq(md) {
			&\@md {
				margin-bottom: $space-xxxl;
			}
		}

		@include mq(lg) {
			&\@lg {
				margin-bottom: $space-xxxl;
			}
		}
	}

}
