/**
 *	Sponsor grid
 *
 *	This will probably be edited as we get more sponsors!
 *
 **/

.o-sponsor-grid {

	display: grid;
	grid-gap: $space-xl;
	grid-template-columns: repeat(auto-fill, minmax(160px, 1fr));

	& > * {
		justify-content: center;
		display: flex;
		flex-direction: column;
		margin: auto;
		width: 100%;
		max-width: 225px;

		img {
			height: auto;
			width: 100%;
			max-width: 100%;
		}
	}

}
