/**
 *	Wrapper
 *
 *	Keeps content constrained and centered.
 *
 **/

.o-wrapper {

	@include clearfix();

	box-sizing: border-box;
	margin-left: auto;
	margin-right: auto;
	padding-left: $space-l;
	padding-right: $space-l;
	position: relative;
	width: 100%;
	// max-width: ($width-page + ($space-l *2));
	max-width: $width-page;

	@include mq(md) {
		padding-left: $space-xl;
		padding-right: $space-xl;
		max-width: ($width-page + $space-xl);
	}

	// variations
	&--wide,
	&--has-sidebar {
		@include mq(md) {
			max-width: $width-page-max;
		}
	}

		// Use with…
		&__primary {
			@include mq(md) {
				box-sizing: border-box;
				float: right;
				width: ($width-page - $space-xl);
				max-width: 100%;
				clear: right;
			}

			// Floats impact margin between headings and body copy
			> * {
				margin-top: 0;
			}
		}

		&__secondary {
		}

}
