/**
 *	Wrapper
 *
 *	Keeps content constrained and centered.
 *
 **/

.o-wrapper {

	@include clearfix();

	box-sizing: border-box;
	margin-left: auto;
	margin-right: auto;
	padding-left: $space-l;
	padding-right: $space-l;
	position: relative;
	width: 100%;
	// max-width: ($width-page + ($space-l *2));
	max-width: $width-page;

	// variations
	&--wide,
	&--has-sidebar {
		@include mq(md) {
			max-width: $width-page-max;
		}
	}

		// Use with…
		&__primary {
			@include mq(md) {
				float: right;
				width: $width-page;
				max-width: 100%;
				clear: right;

				// Floats impact margin between headings and body copy
				> * {
					margin-top: 0;
				}
			}
		}

		&__secondary {
			@include mq(md) {
				float: left;
				padding-left: $space-l;
			}
		}

}
