.fieldset {
    padding: 0;
    border: 0;
}

.label {
    display: block;
    margin-bottom: 0.2rem;
    text-align: left;
    font-family: $font-heading;
}

.input {
    display: block;
    width: 100%;
    height: $input-height;
    line-height: $input-height;
    padding: 0 $space--sm;
    border: 1px solid $grey;
    border-radius: 0;

    &[type=checkbox] {
        -webkit-appearance: checkbox;
    }
    &[type=radio] {
        -webkit-appearance: radio;
    }
    &:focus {
        border-color: #333;
    }
}

.button {
    clear: both;
    background-color: $brand-primary;
    border: 0 none;
    border-radius: 0;
    transition: background-color 0.1s ease-in-out 0s;
    color: $text-light;
    cursor: pointer;
    display: inline-block;
    font-size: 1rem;
    font-weight: normal;
    height: $input-height;
    line-height: $input-height;
    margin: 0.2rem 0 1rem;
    padding: 0 $space;
    text-align: center;
    text-decoration: none;
    vertical-align: top;
    white-space: nowrap;
    width: 100%;

    &:focus,
    &:hover {
        background-color: $brand-secondary;
    }
}

.form {
    text-align: center;

    @media (min-width: $small) {
        text-align: left;

        &__block {
            padding: $space--sm 0;
        }

        &__group {
            margin-bottom: $space;

            &--inline {
                position: relative;
                display: flex;
                align-items: flex-end;

                .form__input {
                    position: relative;
                    flex-grow: 1;
                }

                .input {
                    border-top-right-radius: 0;
                    border-bottom-right-radius: 0;
                    border-right: 0;
                }

                .button {
                    margin: 0;
                    flex: 0;
                    border-top-left-radius: 0;
                    border-bottom-left-radius: 0;
                }

                .form__messages,
                div.mce_inline_error {
                    position: absolute;
                    top: 100%;
                }
            }
        }

        &__header {
            text-align: center;

            @media (max-width: $medium) {
                font-size: 1.3rem;

            }
        }
    }
}

// mailchimp style overrides
#mce-responses {
    overflow: hidden;
}
.response {
    text-align: center;
    display: none;
}

.form__messages,
div.mce_inline_error {
    margin: 0.5em 0 !important;
    padding: 0 !important;
    background: none !important;
    color: $text-muted !important;
    font-size: 0.8rem;
}
div.mce_inline_error {
    color: $text-error !important;
}
input.mce_inline_error {
    border: 2px solid $text-error !important;
}
