.newsletter {
  max-width: 450px;
  margin: 0 auto;
}

.visually-hidden {
    margin: -1px;
    padding: 0;
    width: 1px;
    height: 1px;
    overflow: hidden;
    clip: rect(1px 1px 1px 1px); /* IE 6/7 */
    clip: rect(1px, 1px, 1px, 1px);
    white-space: nowrap;
    position: absolute;
}
