.logo {
  font-family: $font-brand;
  color: $text-dark;
  text-align: center;
  line-height: 1;
  font-size: 3rem;

  @media (max-width: $medium) {
    font-size: 3.5rem;
  }

  img {
      margin: 0 auto;
      max-width: 350px;
      display: block;
  }
}
