.logo {
    display: flex;
    flex-direction: column;
    justify-content: center;

    height: auto;
    font-family: $font-brand;
    color: $text-dark;
    text-align: center;

    line-height: 1;

    img {
        margin: 15px auto;
        display: block;
        width: 25%;
    }

    &__title {
        &--primary {
            font-family: $font-fes;
            font-size: 3rem;
            padding-bottom: 2.5rem;

            @media (max-width: $medium) {
                font-size: 2rem;
                padding-bottom: 1.5rem;
            }
        }

        &--secondary {
            font-size: 2.5rem;

            @media (max-width: $medium) {
                font-size: 1.5rem;

            }
        }
    }
}
