/* =========================================================
    Fonts
========================================================= */
$font-body      : 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif;
$font-heading   : $font-body;
$font-brand     : $font-heading;

body {
    font-family: $font-body;
}

h1 {
    margin: 0;
    font-family: $font-heading;
    line-height: 0.9;
}

h2 {
    font-family: $font-heading;
    color: $text-dark;
}

p {
  font-size: 1.5rem;
}

.upper {
    text-transform: uppercase;
}

.text-center {
  text-align: center;
}
