@font-face {
    font-family: 'Atlan-Black';
    font-style: normal;
    font-weight: 900;
    font-display: auto;
    src: local('Atlan-Black'),
         url('/fonts/subset-Atlan-Black.woff2') format('woff2'), /* preloaded */
         url('/fonts/subset-Atlan-Black.woff') format('woff'),
         url('/fonts/subset-Atlan-Black.ttf') format('truetype'),
         url('/fonts/subset-Atlan-Black.eot') format('embedded-opentype');
    unicode-range: U+000-5FF; /* Latin glyphs */
}

@font-face {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 600;
    font-display: auto;
    src: local('Raleway-SemiBold'),
         url('/fonts/subset-Raleway-SemiBold.woff2') format('woff2'), /* preloaded */
         url('/fonts/subset-Raleway-SemiBold.woff') format('woff'),
         url('/fonts/subset-Raleway-SemiBold.ttf') format('truetype'),
         url('/fonts/subset-Raleway-SemiBold.eot') format('embedded-opentype');
    unicode-range: U+000-5FF; /* Latin glyphs */
}

/* =========================================================
    Fonts
========================================================= */
$font-brand     : 'Atlan-Black', 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
$font-heading   : 'Raleway', 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif;
$font-body      : 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif;
$font-fes       : 'Bree Serif', serif;

body {
    font-family: $font-body;
}

h1 {
    margin: 0;
    font-family: $font-heading;
    line-height: 0.9;
}

h2 {
    font-family: $font-heading;
    color: $text-dark;
}
