/* =========================================================
    Layout
========================================================= */
// breakpoints
$small          : 24rem;
$medium         : 30rem;
$large          : 50rem;

// spacing
$space          : 2rem;
$space--xs      : $space / 3;
$space--sm      : $space / 2;
$space--lg      : $space * 1.5;
$space--xl      : $space * 3;

// other
$input-height   : 2.7rem;

/* =========================================================
    Colours
========================================================= */
// names – use in this file only
$cyan           : #286D63;
$white          : #ffffff;
$grey           : #434343;
$black          : #313639;

// brand colours
$brand-primary  : #484BFF;
$brand-secondary: #FF8725;
$brand-primary--light: lighten(desaturate(#286d63, 7.09), 30.78); // #71C1B5

// text
$text-primary   : $grey;
$text-light     : $white;
$text-dark      : $black;
$text-muted     : $grey;
$text-error     : #dc2c0a;

// other
$page-bg        : #fefefe;
